{{template "header" .}}

<body class="login-bg">
    
    <div class="login layui-anim layui-anim-up">
        <div class="message">poetryAdmin后台管理系统</div>
        <div id="darkbannerwrap"></div>
        
        <form method="post" class="layui-form" >
            <input name="username" placeholder="用户名"  type="text" lay-verify="required" class="layui-input" >
            <hr class="hr15">
            <input name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input">
            <hr class="hr15">
            <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
            <hr class="hr20" >
        </form>
    </div>

    <script>
        $(function  () {
            layui.use('form', function(){
              var form = layui.form;

              // layer.msg('玩命卖萌中', function(){
              //   //关闭后的操作
              //   });
              //监听提交
              form.on('submit(login)', function(data){
                // alert(888)

 //-------
                  console.log(data.field)
                  $.post("/login",data.field,function(res){
                      if(res.code == "-1"){
                           layer.msg(res.msg,{time: 2000})
                      }
                      if(res.code == "200"){
                          layer.msg(res.msg,{time: 2000})
                          setTimeout(window.location.href="/admin",2000);
                      }
                  },'json');
                  return false;

//-------


                layer.msg(JSON.stringify(data.field),function(){
                    location.href='index.html'
                });
                return false;
              });
            });
        })

        
    </script>

</body>
</html>